.codde{
    /* padding-right: 54px;
    padding-top: 78px;
    padding-bottom: 75px;
    padding-left: 90px; */


    /* all these properties are covered in this one shorthand padding property */


    padding: 71px 75px 80px 100px ;
}